.lead__subtitle {
  padding: 0;
  margin: 32px 0 64px;
  text-align: center;
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  max-width: 640px;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .lead__subtitle {
    margin-bottom: 56px;
  } 
}

@media screen and (max-width: 740px) {
  .lead__subtitle {
    margin: 16px 0 40px;
    font-size: 22px;
    max-width: calc(100vw / 1.7);
  } 
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 125%;
  }
}