.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 0;
}

@media screen and (max-width: 896px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 724px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
  }  
}